<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="header-spacer">
  </span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" router routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Log In</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="auth/register" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <button *ngIf="userIsAuthenticated" (click)="onLogout()">
      <a mat-button>Log out</a>
    </button>
  </ul>
</mat-toolbar>
