<mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form" *ngIf="!isLoading" (submit)="onAddPost(form)">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        placeholder="Post Title"
        required
        type="text">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" (change)="onImagePicked($event)"#filePicker>
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <mat-form-field>
      <textarea
        (keydown.enter)="onAddPost($event)"
        matInput
        maxlength="150"
        formControlName="content"
        placeholder="Post Content"
        required
        rows="4"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>

    </mat-form-field>

    <button
      color="accent"
      mat-raised-button
      type="submit">Save Post
    </button>
  </form>
</mat-card>
