<mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onFormSubmit()" *ngIf="!isLoading" [formGroup]="form">
    <mat-form-field>
      <input
        formControlName="title"
        matInput
        placeholder="Post Title"
        required
        type="text">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <div *ngIf="componentState === 'edit'" class="image-preview">
      <img [src]="post.imagePath">
    </div>

    <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid" class="image-preview">
      <img [alt]="form.value.title" [src]="imagePreview">
    </div>

    <div style="margin: 10px 0 10px 0">
      <button (click)="filePicker.click()" mat-stroked-button type="button">Pick Image</button>
      <input #filePicker (change)="onImagePicked($event)" type="file">
    </div>


    <!--    TODO: PROCESSING FOR CASE WHEN imagePreview comes as ArrayBuffer-->
    <!--    <div class="image-preview" *ngIf="">-->
    <!--      <img [src]="imagePreview" [alt]="form.value.title">-->
    <!--    </div>-->

    <mat-form-field>
      <textarea
        (keydown.enter)="onFormSubmit()"
        formControlName="content"
        matInput
        maxlength="150"
        placeholder="Post Content"
        required
        rows="4"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>

    </mat-form-field>

    <button
      color="accent"
      mat-raised-button
      type="submit">Save Post
    </button>
  </form>
</mat-card>
